<h1>My Sets</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cardsets.each do |cardset| %>
  <tr>
    <td><%= cardset.title %></td>
    <td><%= link_to 'Show', cardset %></td>
    <td><%= link_to 'Edit', edit_cardset_path(cardset) %></td>
    <td><%= link_to 'Destroy', cardset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
